<div class="container-profile">
    <div class="container-user-info">
        <h2>Settings</h2>
        <p>Nada todavia</p>
    </div>
    <div class="container-profile-nav">
        <div class="container-profile-nav-avatar">
            <img src="/src/img/interface/userProfile.png" alt="">
        </div>
        <h3>{{user.username}}</h3>
        <div class="container-profile-nav-options">
            <a href="/profile/account">Account</a>
            <a href="/profile/purchases">Purchase orders</a>
            {{#if user.isAdmin}}
            <a href="/profile/products?addProd=true">Products</a>
            {{/if}}
            <a href="/profile/settings" class="enable">Settings</a>
        </div>
        <a href="/api/user/logout" class="btn-primary">Logout</a>
    </div>
</div>