<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eCommerce</title>
    <link
     rel="stylesheet"
     href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"
   />
    <link rel="stylesheet" href="/src/css/styles.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
   
</head>

<body>
    <div class="container-nav">
        <p>PageName</p>
        <div class="container-nav-options">
            <a href="/home">Home</a>
            <a href="/products/view">Products</a>
            <a href="/login">Contact</a>
            <a href="">About Us</a>
        </div>
        <div class="container-user">
            {{#if username}}
            <a href="/profile/account"><img src="/src/img/interface/nav/user.svg" alt="" class="filter-icon"> {{username}}</a>
            {{else}}
            <a href="/user"><img src="/src/img/interface/nav/user.svg" alt="" class="filter-icon"></a>
            {{/if}}
        </div>
        <div class="container-cart">
            <a href="/cart"><img src="/src/img/interface/nav/cart.svg" alt="" class="filter-icon"></a>
        </div>
    </div>
    {{{body}}}
    
</body>

</html>