<form action="/api/user/logIn" method="post" class="form">
    <input type="text" name="username" id="" placeholder="Username">
    <input type="password" name="password" id="" placeholder="Password">
    <button type="submit" class="btn-primary">Log In</button>
</form>